<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
	  <add name="SlackEvePingEntities" connectionString="metadata=res://*/DBEFModel.csdl|res://*/DBEFModel.ssdl|res://*/DBEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=localhost\SQL2012;Initial Catalog=Y790;Integrated Security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>