<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="SlackEvePingEntities" connectionString="metadata=res://*/DBEFModel.csdl|res://*/DBEFModel.ssdl|res://*/DBEFModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=CORY-PC\SQLEXPRESS;initial catalog=SlackEvePing;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>